<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Registration Form</title>
	<link rel="stylesheet"  href="/registration.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<%- include('header') %>
	<div class="container">
		<div class="title">Registration Form</div>
		<form action="/auth/register" method="post">
			<% if(typeof message != "undefined" && message){    %>
				<div class="alert alert-warning alert-dismissible fade show" role="alert">
					<strong><%- message %></strong>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
			<% }      %>
			<table>
			<tr>
				<td class="tag"><label> <b>First Name </b></label></td><td>       
				<input type="text" placeholder="Enter Your First Name" name="f_name" required></td> 
				<td class="tag"><label> <b> Middle Name: </b> </label></td><td>
				<input type="text" placeholder="Enter Your Middle Name" name="m_name"></td> 
				<td class="tag"><label> <b> Last Name: </b> </label></td><td>
				<input type="text" placeholder="Enter Your Last Name" name="l_name" required></td>
			</tr>
			<tr>
				<td class="tag"><label> <b> Date of Birth </b></label></td><td>
				<input type="date" name="dob" required></td>     &nbsp; &nbsp;&nbsp;&nbsp;   

				<td class="tag"><label> <b> Place of Birth </b></label></td><td> 
				<input type="text" placeholder="Place of Birth" name="pob" required></td><br><br>
				
				<td class="tag"><label> <b> Pincode </b></label></td><td>
				<input type="number" placeholder="Enter the pincode" name="pincode" required></td>
			</tr>
			<tr>
				<td class="tag"><label> <b> Address </b></label></td><td>
				<input type="text" placeholder="Enter Your Address" name="address" required></td>

				<td class="tag"><label><b>ID Type : </b></label></td><td>
				<select name="id_type" id="id_type">  
					<option value="Aadhar">Adhaar Card</option>  
					<option value="Election">Voter Card</option>  
					<option value="Passport">Passport Card</option>  
					<option value="Driving">Driving license</option>  
				</select></td>

				<td class="tag"><label><b>ID No. </b></label></td><td>
				<input type="text" placeholder="Enter Your Id No." name="id_num" required></td>
			</tr>
			<tr>
				<td class="tag"><label ><b>Email</b></label></td><td>
				<input type="text" placeholder="Enter Your Email" name="email"></td>

				<td class="tag"><label><b> Phone Number : </b></label></td><td>
				<input type="number" placeholder="Enter Your Phone Number" name="phone" required></td>
				
				<td class = "tag"><label><b> Nearby RTO : </b></label></td><td>
				<select name="rto" id="rto">
				<% rtos.forEach(function(rto){	%>
					<option value="<%= rto.rto_id %>"><%= rto.rto_name %></option>
				<%	});	%>
					</select>
				</td>
			</tr>
			<tr>
				<td class="tag"><label><b>Create User ID</b></label></td><td>
				<input type="text" id="uid" placeholder="Create User ID" name="uid" required>
				</td>

				<td class="tag"><label><b>Create Password</b></label></td><td>
				<input type="password" id="pswrd" placeholder="Enter Password" name="password"  required>
				<i class="fas fa-lock" onclick="show()"></i>
				</td>

				<td class="tag"><label><b>Confirm Password</b></label></td><td>
				<input type="password" placeholder="Repeat Password" name="passwordConfirm"  required><br></td>
				<!-- <td></td> -->
			</tr>
			</table><center>
				<input type="submit" value="Register">
				<input type="reset"    value="Reset"></center>
			</form>
				<div class="dialogue"><center>
					<p>Already have an account? <a href="/login">Sign in</a>.</p>
					<p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p></center>
				</div>
	</div><br><br>
<script>
	function show(){
		var pswrd = document.getElementById('pswrd');
		var icon = document.querySelector('.fas');
		if(pswrd.type==="password"){
			pswrd.type="text";
			pswrd.style.marginTop="2px";
			icon.style.color="#7f2092";

		}else{
			pswrd.type="password";
			icon.style.color="grey";
		}
	}
</script>

<%- include('footer') %>
</body>
</html>